<h1><%= @park.name %></h1>
<h2>"Admissions: $<%= @park.price.round(2) %></h2>
<h3>Rides:</h3>
<% @park.rides.each do |ride| %>
  <div id="ride-<%= ride.id %>">
    <%= ride.name %>
  </div><br>
<% end%>
<p>
  Average Thrill Rating of Rides: <%= @park.avg_ride_rating.round(2) %>
</p>
