<h1>Mechanic: <%= @mechanic.name %></h1>
<h3>Years of Experience: <%= @mechanic.years %></h3>

<h3>Current rides they're working on:</h3>
<% @mechanic.rides.each do |ride| %>
  <div id="ride-<%= ride.id %>">
    <%= ride.name %><br>
  </div>
<% end%>
<%= form_tag "/mechanic_rides" do %>
  <%= label_tag "Add ride to mechanic:" %>
  <%= text_field_tag "ride" %>
  <%= submit_tag "Submit" %>
<% end%>

